:root {
    
    --color-primary: #1A535C;
    /* --color-links: #008196; */
    --color-links: #1F6F78;
    --color-primary: #17464D;
    --color-secondary: #4ECDC4;
    

    /* --color-bg: #F7FFF7; */
    --color-pr: #0f4c5c;
    --color-sec: #83c5be;
    --color-pop: #FFD60A;
    --color-bg: #edf6f9;
    --color-text: #2b2d42;

  }



body{
    background-color: var(--color-bg);
    /* background-color: #f6f8fc; */
    /* background-color: #ffffff; */
}

body *{
    position: relative;
    /* font-family: Poppins, Syne; */
    /* font-family: Inter, sans-serif; */
    /* font-family: Manrope; */
    font-family: Google Sans;
    
}

.logo-container{
    height: 50px;
    display: grid;
    justify-content: center;
    margin: auto;
    padding: 50px;
}
.logo{
    height: 60px;
}



.container-sm{
    background-color: #FFFFFF;
    border-radius: 15px;
    max-width: 500px;
    width: calc(100% - 24px);
    padding: 30px;
    margin:auto;
    margin-top: 50px;
    padding-top: 48px;
    padding-bottom: 48px;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}


/* @media (max-width: 576px) {
    .container-sm {
        max-width: 80%;
        height: auto;
    }
} */

h2{
    max-width: fit-content;
    margin: auto;
    margin-bottom: 30px;
}


.mybtn{
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    height: 44px;
    color: white;
    background-color: var(--color-pr);
    border-color: var(--color-pr);
    border-radius: 10px;
    font-size: larger;
    font-weight: 500;
    font-family: Google Sans;
    /* justify-content: center; */
    transition: color 0.15s ease-in-out, 
              background-color 0.15s ease-in-out, 
              border-color 0.15s ease-in-out, 
              box-shadow 0.15s ease-in-out;
}

.mybtn:hover{
    background-color: var(--color-links);
    border-color: var(--color-links);
}
.mybtn:focus{
    background-color: var(--color-pr);
    border-color: var(--color-pr);
    box-shadow:  0 0 0 .25rem rgba(7, 128, 150, 0.35);



}
.form {
    max-width: 325px;
    margin: auto;
}

footer{
    max-width: fit-content;
    margin:auto;
    font-size: large;
    /* text-align: center; */
    /* font-family: google sans; */
}

.form-control{
    background-color: #fafcfc;
    height: 44px;
    border-radius: 10px;
}

.form-control:focus{
    border-color:  #1dabbb;
    box-shadow:  0 0 0 .2rem rgba(7, 128, 150, 0.25);
}

.footer-link {
    color: var(--color-links);
    font-weight: 600;
    font-family: Google Sans;
}

.footer-link:hover {
    color: var(--color-primary);
}
